<h1>Add a type</h1>
<p>Add a type here:</p>

<form action="/typesclass" method="post">
  <label for="typeClassName">Type name</label>
  <input id="typeClassName" name="typeClassName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Home</a></p>
<p><a href="/typesClass">Back to types overview</a></p>