
@{
  Layout = "_Layout";
}
<center>

<h1>Animal Shelter</h1>
<br>
<h4>Add an animal type first!</h4>
<br>
<hr />
<br>
<p>@Html.ActionLink("Search by Animal Type", "Index", "TypeClassGroup")</p>
<br>
<p>@Html.ActionLink("Search by Animal Name", "Index", "DetailGroup")</p>
</center>